* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

nav {
  background-color: #171a21;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Tahoma", sans-serif;
}

nav h3 {
  color: white;
  font-size: 30px;
  text-shadow: 10px 10px 10px black;
}

nav button {
  font-size: 20px;
  padding: 10px;
  text-shadow: 4px 4px 4px black;
  background-color: rgb(0, 140, 255);
  font-weight: 700;
  color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px black;
  border: 0px solid gray;
}

nav button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}

/* message container in the middle of app */
.message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
  width: 40%;
  height: 10%;
  font-family: "Tahoma", sans-serif;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.games-wrapper {
  background-color: #1b2838;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Tahoma", sans-serif;
}

.games-container {
  width: 100%;
}

ul {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

li {
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 5px solid black;
  display: flex;
  text-shadow: 10px 10px 10px black;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn {
  font-size: 25px;
  margin-left: 15px;
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 0px solid gray;
  box-shadow: 10px 10px 10px black;
}

.remove-icon {
  height: 25px;
  margin: 3px 5px;
}

.remove-btn:hover {
  background-color: white;
  cursor: pointer;
}

.play-btn {
  font-size: 25px;
  margin-left: 15px;
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 0px solid gray;
  box-shadow: 10px 10px 10px black;
}

.play-icon {
  height: 25px;
  margin: 3px 5px;
}

.play-btn:hover {
  background-color: white;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 140, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 94, 136);
}
