* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: gray;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h3 {
  color: white;
  font-size: 30px;
}

nav button {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(91, 90, 90);
  color: white;
  border-radius: 5px;
  border: 0px solid gray;
}

nav button:hover {
  background-color: black;
  cursor: pointer;
}

.games-wrapper {
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.games-container {
  width: 100%;
}

ul {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

li {
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 5px solid black;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn {
  font-size: 25px;
  margin-left: 15px;
  background-color: rgb(91, 90, 90);
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: 0px solid gray;
}

.play-icon {
  height: 25px;
}

.play-btn:hover {
  background-color: white;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
